<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdc.tcms.biz.mapper.FoodMapper">

    <select id="getFourFood" resultType="com.zdc.tcms.biz.entity.RecipesDetails">
      SELECT * FROM recipse_details  ORDER BY  RAND() LIMIT 4
    </select>
    
    <select id="getByFoodName" resultType="com.zdc.tcms.biz.entity.RecipesDetails">
        SELECT * FROM recipse_details WHERE foodname=#{foodname}
    </select>
    
    <select id="getByFenlei" parameterType="java.util.Map" resultType="com.zdc.tcms.biz.entity.RecipesDetails">
      SELECT * FROM recipse_details WHERE fenlei=#{fenlei}
    </select>

    <select id="getByFenleiCountNums" parameterType="java.util.Map" resultType="java.lang.Integer">
      SELECT count(1) from recipse_details WHERE fenlei=#{fenlei}
    </select>
</mapper>