<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdc.tcms.biz.mapper.UserMapper">
    <select id="getUserById" resultType="com.zdc.tcms.biz.entity.User">
        select * from user where userid=#{userid}
    </select>
    
    <select id="getUserByLogin" resultType="com.zdc.tcms.biz.entity.User" parameterType="java.util.Map">
        select * from user where username=#{username} and password=#{password}
    </select>

    <select id="checkAccountExit" resultType="com.zdc.tcms.biz.entity.User" parameterType="java.util.Map">
        select * from user where username=#{username}
    </select>

    <select id="phoneCheckExit" resultType="com.zdc.tcms.biz.entity.User" parameterType="java.util.Map">
        select * from user where phone=#{phone}
    </select>
    
    <insert id="insertUser" parameterType="com.zdc.tcms.biz.entity.User" >
      INSERT into user(userid,username,password,phone,createtime,status) VALUES (#{userid},#{username},#{password},#{phone},#{createtime},#{status})
    </insert>
    
    <update id="updatePictureUrl" parameterType="java.util.Map">
        UPDATE user SET pictureaddress=#{pictureaddress} WHERE username=#{username}
    </update>
    
    <update id="updatePwd" parameterType="java.util.Map">
      UPDATE user SET password=#{password} WHERE username=#{username}
    </update>
</mapper>