*{margin: 0;padding: 0;box-sizing: border-box;font-size: 16px;font-family:arial,"Lantinghei SC","Microsoft Yahei";}
a{text-decoration: none;color: #000;}
/*logo*/
.logo{max-width: 1000px;margin: 0 auto;}
.logo img{height: 110px;width: 200px;}

section{height: 600px;background: url(../img/reg.jpg)  no-repeat bottom;background-size: cover;box-shadow: 5px 10px 50px #888888;}

.main{max-width: 1100px;margin: 0 auto;position: relative;height: 470px;}
.login-box{padding: 30px;background-color: rgba(0,0,0,.2);max-width: 378px;position: absolute;right: 0;top: 10%;}

form h1{text-align: center;font-weight: 500;font-size: 24px;margin-bottom: 10px;color: #5a8962;}
form div{position: relative;}
/*input*/
input,button{border: 0;outline: 0;}
input{height: 40px;margin:10px 0;width: 300px;padding-left: 36px;}
#code{width:200px;}
#getcode{background-color: #ddd;display: block;width: 75px;height: 36px;line-height: 36px;float: right;text-align: center;margin-top:12px;border-radius: 5px;font-size: 14px;padding-left: 0;}
/*检查框*/


/*label*/
label:before{font-size: 24px;line-height: 40px;}
label{position: absolute;background-color: #fff;color: #999;display: block;line-height: 50px;width: 30px;height: 40px;text-align: center;top:10px;}
/*button*/
button{display:block;width: 130px;height: 35px;margin:0 auto;color: #fff;background-color: #095f8a;cursor: pointer;margin-top: 20px;}

/*底部*/
footer{margin-top: 20px;}
footer a{margin: 10px;}
footer a:hover{color: #999;}
footer p:nth-of-type(1) span{color:#ddd;}
footer p:nth-of-type(2){margin-top: 5px;border-top: 1px solid #dddddd;padding-top: 5px;}
footer p:nth-of-type(2) span{padding-left: 10px;}