<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>分类</title>
    <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.css}">
    <!-- <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/lib/bootstrap/js/bootstrap.min.js">
    <script src="../static/lib/jquery/jquery-3.3.1.min.js"></script> -->
    <link rel="stylesheet" th:href="@{/css/head_foot.css}">
</head>
<style>
a{text-decoration: none;color: #000;}
#main{width: 1000px;margin: 0 auto;margin-top: 40px;}
.list>li {padding-top: 20px; list-style: none;display: flex;justify-content: space-between; width: 100%;border-bottom: 1px solid #999;}
.list img {width: 180px;height: 133px;}
.content{width: 750px;}
.image{margin-bottom: 10px;border:1px solid #dee2e6;padding:4px 4px 0px 2px;border-radius: 5px;background-color: #fff;}
.title>a:hover{color: #f19100;}
.text{overflow: hidden;color: #999;margin-top: 30px; font-size: 14px;}

.showpage{margin-right: 10px; }
.showpage span{font-size: 16px;line-height: 32px;padding: 0 5px;}
</style>

<body>
    <!-- 头部 -->
    <div th:include="header::header"></div>
    <!-- 主内容 -->
    <div id="main">
        <ul class="list">
            <li th:each="food,foodStat : ${recipesDetails.items}">
             <div class="image"><img th:src="${food.pictureaddress}"></div>
                <div class="content">
                    <p class="title"><a th:href="@{/toFoodDetails(foodname=${food.foodname})}" th:text="${food.foodname}"></a></p>
                    <p class="text" th:text="${food.introduce}"></p>
                </div>
            </li>

           <!-- <li>
                    <div class="image"><img th:src="@{/img/index_food/f1.jpg}"></div>
                       <div class="content">
                           <p class="title"><a href="#">注意！这10种食品会让你爆肥</a></p>
                           <p class="text">夏天到了，看到大街上的长裙飘飘或者热裤美腿，是不是很是羡慕？
                               减肥的念头是不是又开始蠢蠢欲动呢？但是，单纯的绝食减肥似乎很不可取，我们的身体也会受不了，于是很多人在这个时候就进行“选择性”饮食。
                               朋友说吃一些沙拉、鲜榨果汁之类的食品不但健康，还有助于减肥，这到底是不是真的呢？
                           </p>
                       </div>
                   </li>-->
        </ul>

<!-- 分页 -->
<div class="container">

        <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                  <li class="showpage"> <span>第</span> <span th:text="${recipesDetails.currentPage}"></span>/<span th:text="${recipesDetails.totalPage}"></span><span>页</span> </li> 
                  <li class="page-item"><a class="page-link" th:href="@{/toCategory(currentPage=${recipesDetails.currentPage}-1,fenlei=${recipesDetails.condtion})}" onclick="return checkPre()">上一页</a></li>
                  <!--<li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                  <li class="page-item"><a class="page-link" th:href="@{/toCategory(currentPage=${recipesDetails.currentPage}+1,fenlei=${recipesDetails.condtion})}" onclick="return checkNext()">下一页</a></li>
                </ul>
              </nav>

    </div>
    </div>
    <!--底部-->
    <div th:include="footer::footer"></div>
</body>
<script th:src="@{/lib/jquery/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.SuperSlide.2.1.1.js}" type="text/javascript"></script>
<script th:inline="javascript">
    /**
     * 点击下一页的验证
     */
    function checkNext() {
        var currentPage = [[${recipesDetails.currentPage}]];
        var totalPage = [[${recipesDetails.totalPage}]];
        if (currentPage<totalPage) {
            return true;
        }
        alert("已到页尾，无法加载更多页");
        return false;
    }

    /* 点击跳转上一页 */
    function checkPre () {
        var currentPage = [[${recipesDetails.currentPage}]];
        if (currentPage>1) {
            return true;
        }
        alert("已到页首,无法加载更多");
        return false;
    }
    </script>
</html>