<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>忘记密码</title>
  <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/head_foot.css}">
</head>
<style>
  body{background: #ddd;}
.top{border:2px solid #07793e;}
.main{margin-top:100px; }
.content{height: 410px;width: 800px;background: #fff;border-radius: 10px;margin: 0 auto;}

form{width: 300px;height:200px;margin: 50px auto;}
form div{margin-top: 20px;}
form>div:nth-child(4){width:360px;}
form input{border: none;border: 2px solid #07793e; border-radius: 2px;outline: none;height: 20px;}
form button{font-size: 16px; cursor: pointer; border: none;outline: none;background: #07793e;border-radius: 5px;width: 100px;height: 30px;margin-left: 110px; margin-top: 45px;}

.getcode{display:block;width: 80px;height: 25px;border-radius: 5px;text-decoration: none;color: #000;background-color: #ddd;float: right;font-size: 14px;text-align: center;line-height: 25px;}
</style>
<body>
<div class="top"></div>
<!--  头部 -->
  <!--<div th:include="header::header" ></div>/-->
<!-- 主内容 -->
<div class="main">
  <div class="content">
    <table></table>
<form id="forgetForm">
  <div>
    <label for="uname">用&nbsp;&nbsp;&nbsp;&nbsp;户&nbsp;&nbsp;&nbsp;名：</label> <input type="text" id="uname" name="uname">
    <span id="errorAccount"
          style="color:red;padding-left:3px;"></span>
  </div>
  <div>
    <label for="upwd">输入新密码：</label> <input type="password" id="upwd" name="upwd">
    <span id="errorLoginPassword"
          style="color:red;padding-left:3px;"></span>
  </div>
  <div>
    <label for="rpwd">确认新密码：</label> <input type="password" id="rpwd" name="rpwd">
    <span id="errorReloginPwd"
          style="color:red;padding-left:3px;"></span>
  </div>
  <div>
    <label for="phone">手&nbsp;&nbsp;&nbsp;&nbsp;机&nbsp;&nbsp;&nbsp;号：</label> <input type="text" id="phone" name="phone"><!--<a href="javascript:;" class="getcode">获取验证码</a>--><input type="button" id="getcode" value="获取验证码" class="getcode"></div>
  <span id="errorPhone" style="color:red;padding-left:3px;"></span>
  <div>
    <label for="code">输入验证码：</label> <input type="text" id="code" name="code">
  </div>
  <button type="button" id="forget">重置密码</button>
</form>
  </div>
</div>
<!-- 底部 -->
 <div th:include="footer::footer"></div>
<script th:src="@{/lib/jquery/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.SuperSlide.2.1.1.js}" type="text/javascript"></script>
<script th:inline="javascript">
    /**
     * 验证用户名
     */
    $("#uname").blur(function () {
        var uname = $("#uname").val();
        if(uname == ""){
            $("#errorAccount").html("账号不能为空！");
        }else {
            $.ajax({
                url : '/register/checkAccountExit',
                type : 'post',
                data : {
                    "username" : uname
                },
                success : function (data) {
                    if(data == "账号已存在"){
                        $("#errorAccount").html("");
                    }else {
                        $("#errorAccount").html("账号未被注册！");
                    }
                }
            });
        }
    });

    /**
     * 输入新密码提示
     */
    $("#upwd").blur(function () {
        if($("#upwd").val() == ""){
            $("#errorLoginPassword").html("密码不能为空！");
        }else{
            $("#errorLoginPassword").html("");
        }
    });

    /**
     * 验证两次密码是否一致
     */
    $("#rpwd").blur(function () {
        var rupwd = $("#rpwd").val();
        if(rupwd == ""){
            $("#errorReloginPwd").html("确认密码不能为空");
        }else if($("#upwd").val() != rupwd){
            $("#errorReloginPwd").html("两次密码不一致");
        }else {
            $("#errorReloginPwd").html("");
        }
    });

    /**
     * 手机号
     */
    $("#phone").blur(function () {
        var phone = $("#phone").val();
        if(phone == ""){
            $("#errorPhone").html("电话不能为空！");
        }else {

            $.ajax({
                url : '/register/phoneCheck',
                type : 'post',
                data : {
                    "phone" : phone
                },
                success : function (result) {
                    if("号码已存在" == result){
                        $("#errorPhone").html("");
                    }else {
                        $("#errorPhone").html("该号码未被注册");
                    }
                }
            });
        }
    });

    /**
     * 获取验证码
     */
    $("#getcode").click(function () {
        if($("#phone").val() == "" || $("#errorPhone").text() != "") {
            alert("请检查电话号码");
            return;
        }
        if($("#uname").val()==""){
            alert("用户名不能为空");
            return;
        }
        if($("#upwd").val()==""||$("#rpwd").val()==""){
            alert("密码不能为空");
            return;
        }
        if($("#phone").val()!=""&&$("#errorPhone").text() == ""){
            var phone = $("#phone").val();
            $.ajax({
                url : '/register/getPhoneCode',
                type : 'post',
                data : {
                    "phone" : phone
                },
                success : function (result) {
                    if(result == "error"){
                        alert("发送失败！请重新获取！");
                    }else if(result != "OK"){
                        alert("发送失败！请重新获取！");
                    }
                }
            });
        }
    });

    /**
     * 重置密码
     */
    $("#forget").click(function () {
        if($("#uname").val() == "") {
            alert("请先输入用户名");
            return;
        }else if($("#upwd").val()==""||$("#rpwd").val()==""){
            alert("请先输入密码");
            return;
        }else if($("#phone").val() == "") {
            alert("请先输入电话号码");
            return;
        }else if($("#code").val() == ""){
            alert("请先输入验证码");
            return;
        }else {
            $.ajax({
                url : '/forgetPwd',
                type : 'post',
                data : $("#forgetForm").serialize(),
                success : function (result) {
                    if(result == "error" || result == ""){
                        alert("验证码错误");
                        return;
                    }
                    if(result == "success"){
                        alert("注册成功");
                        window.location.href = "/userLogin";
                    }
                }
            });
        }
    });
</script>
</body>
</html>
