<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 ">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中医食疗</title>
    <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.min.css">
    <script src="../static/lib/jquery/jquery-3.3.1.js"></script>
    <script src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/lib/jquery/jquery1.42.min.js"></script>
    <script src="../static/js/jquery.SuperSlide.2.1.1.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<div class="top">
    <div class="container">
        <span class="top-l">欢迎来到中医食疗网！</span>
        <sapn class="top-r">
            <a href="#">登录</a>
            <a href="#">注册</a>
        </sapn>
    </div>
</div>

<div class="container">
    <header class="row align-items-md-end pl-3 pr-3">
        <!--log-->
        <div class="logo col-md-6 col-sm-12"><img src="../static/img/index_log.png "></div>
        <!--导航栏-->
        <nav class="col-md-6 col-sm-12 h-25 mb-1 border-top border-bottom my-nav ">
            <ul class="nav ">
                <li class="nav-item"><a href="#" class="nav-link">首页</a></li>
                <li class="nav-item"><a href="#" class="nav-link">膳食</a></li>
                <li class="nav-item"><a href="#" class="nav-link">中医</a></li>
                <li class="nav-item"><a href="#" class="nav-link">人群</a></li>
                <li class="nav-item"><a href="#" class="nav-link">专题</a></li>
                <li class="nav-item"><a href="#" class="nav-link">食物库</a></li>
            </ul>
        </nav>
    </header>
    <!--轮播-->
    <div id="demo" class="carousel">
        <div class="carousel-inner" data-ride="carousel">
            <div class="carousel-item active">
                <img src="../static/img/banner/b1.jpg">
            </div>

            <div class="carousel-item ">
                <img src="../static/img/banner/b2.jpg">
            </div>

            <div class="carousel-item ">
                <img src="../static/img/banner/b3.jpg">
            </div>

            <div class="carousel-item ">
                <img src="../static/img/banner/b4.jpg">
            </div>

            <div class="carousel-item ">
                <img src="../static/img/banner/b5.jpg">
            </div>
        </div>
        <ul class="carousel-indicators my-indicator">
            <li class="active" data-slide-to="0" data-target="#demo"></li>
            <li data-slide-to="1" data-target="#demo"></li>
            <li data-slide-to="2" data-target="#demo"></li>
            <li data-slide-to="3" data-target="#demo"></li>
            <li data-slide-to="4" data-target="#demo"></li>
        </ul>
        <!--左右箭头-->
        <a href="#demo" class="carousel-control-prev my-control" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#demo" class="carousel-control-next my-control" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>

    <!--膳食养生-->
    <div class="row m-0">
        <div class="picScroll mt-3 col-sm-12 col-md-8">
            <div class="hd col-sm-12 ">
                <h2>膳食养生</h2>
            </div>
            <div class="bd col-sm-12  ">

                <a href="javascript:void(0)" class="prev"></a>
                <a href="javascript:void(0)" class="next"></a>

                <div class="scrollWrap row m-0">
                    <ul class="picList ">
                        <li>
                            <a href="#"><img src="../static/img/index_food/f1.jpg"></a>
                            <p class="movielist_tt"><a href="#">益于血管修复鱼头豆腐煲</a></p>
                            <p>在深秋时，老年人警惕血管疾病，吃些豆腐，跟鱼头做汤，营养高，含钙量也高，对于身体的帮助很大，非常适合全家人食用哦。</p>
                        </li>
                        <li>
                            <a href="#"><img src="../static/img/index_food/f2.jpg"></a>
                            <p class="movielist_tt"><a href="#">益于血管修复鱼头豆腐煲</a></p>
                            <p>在深秋时，老年人警惕血管疾病，吃些豆腐，跟鱼头做汤，营养高，含钙量也高，对于身体的帮助很大，非常适合全家人食用哦。</p>
                        </li>
                        <li>
                            <a href="#"><img src="../static/img/index_food/f3.jpg"></a>
                            <p class="movielist_tt"><a href="#">益于血管修复鱼头豆腐煲</a></p>
                            <p>在深秋时，老年人警惕血管疾病，吃些豆腐，跟鱼头做汤，营养高，含钙量也高，对于身体的帮助很大，非常适合全家人食用哦。</p>
                        </li>
                        <li>
                            <a href="#"><img src="../static/img/index_food/f4.jpg"></a>
                            <p class="movielist_tt"><a href="#">益于血管修复鱼头豆腐煲</a></p>
                            <p>在深秋时，老年人警惕血管疾病，吃些豆腐，跟鱼头做汤，营养高，含钙量也高，对于身体的帮助很大，非常适合全家人食用哦。</p>
                        </li>
                        <li>
                            <a href="#"><img src="../static/img/index_food/f4.jpg"></a>
                            <p class="movielist_tt"><a href="#">益于血管修复鱼头豆腐煲</a></p>
                            <p>在深秋时，老年人警惕血管疾病，吃些豆腐，跟鱼头做汤，营养高，含钙量也高，对于身体的帮助很大，非常适合全家人食用哦。</p>
                        </li>
                        <li>
                            <a href="#"><img src="../static/img/index_food/f4.jpg"></a>
                            <p class="movielist_tt"><a href="#">益于血管修复鱼头豆腐煲</a></p>
                            <p>在深秋时，老年人警惕血管疾病，吃些豆腐，跟鱼头做汤，营养高，含钙量也高，对于身体的帮助很大，非常适合全家人食用哦。</p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!--食物库-->
        <div class="col-md-4 col-sm-12 p-4 tool mt-3">
            <h4 class="tool-h  ">食物库</h4>
            <div class="tool-b ">
                <table class="table mt-5 ">
                    <tr>
                        <td class="border-0 p-3 "><a href="#">食物大全</a></td>
                    </tr>
                    <tr>
                        <td class="p-3"><a href="#">食物相克</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">jQuery(".picScroll").slide({
        mainCell: ".picList",
        effect: "left",
        vis: 4,
        pnLoop: false,
        scroll: 4,
        autoPage: true
    });
    </script>
    <!--体质测试-->
    <div class="row mt-5 heath justify-content-between">
        <div class="col-sm-12 col-md-4 border">
            <h3 class="pt-3">体质养生</h3>
            <div class="mt-2 p-4 heath-b">
                <ul class="list-unstyled list-group">
                    <li><a href="#">小米粥滋阴补肾还美容 虚寒体质要慎吃</a></li>
                    <li><a href="#">缓解焦虑症 日常饮食应多吃这些食物</a></li>
                    <li><a href="#">冠心病患者吃什么好？蛋白质摄取应适量</a></li>
                    <li><a href="#">胃不好吃什么？ 居家健脾胃推荐2款汤水</a></li>
                    <li><a href="#">每天吃2个猕猴桃 轻松预防心血管疾病</a></li>
                </ul>
                <a href="#" class="more float-right">更多...</a>
            </div>
        </div>

        <div class="col-sm-12 col-md-3 border">
            <h3 class="pt-3">体质测试</h3>
            <p class="mt-2 p-4">人分九种体质，生理调养各有不同！体质现象是生命活动的一种重要表现形式，是指人体生命过程中，在先天禀赋和后天获得的基础上所形成的的形态结构、生理功能和心理状态方面综合的、相对稳定的固有特质。</p>
            <a href="#" class="more">测试体质</a>
        </div>

        <div class="col-sm-12 col-md-4 border">
            <h3 class="pt-3">养生问答</h3>
            <div class="mt-2 p-4 heath-b">
                <ul class="list-unstyled list-group">
                    <li><a href="#">湿热体质的特点都有哪些？湿热体质如何来调</a></li>
                    <li><a href="#">冰糖雪梨的营养价值有哪些？冰糖雪梨汤是怎</a></li>
                    <li><a href="#">喝了反复沸腾过的火锅汤可能会对人体造成什</a></li>
                    <li><a href="#">枸杞还有黑的？黑枸杞的功效都有哪些呢？</a></li>
                    <li><a href="#">左心房增大是由于什么原因引起的呢？</a></li>
                </ul>
                <a href="#" class="more float-right">更多...</a>
            </div>
        </div>
    </div>
<!--养生功效-->
    <div class="row mt-5 ">
        <div class="col-sm-6 ">
            <img src="../static/img/foot.jpg" class="img-thumbnail">
        </div>
        <div class="col-sm-6">
            <h3 class="pt-3">养生功效</h3>
            <div></div>
        </div>
    </div>

    <!--底部-->
    <footer class="row mt-5">
        <div class="col-sm-12 text-center">
            <p class="mt-3"><a href="#">关于我们</a><span>|</span><a href="#">联系我们</a><span>|</span><a href="#">友情链接</a></p>
            <p>Copyright&copy;2018-2020 www.zysl.com </p>
            <p>版权所有 中医食疗网站</p>
        </div>
    </footer>
</div>


</body>
</html>