<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"></meta>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"></meta>
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/css/font-awesome/css/font-awesome.min.css}"></link>
    <link rel="stylesheet" th:href="@{/css/login.css}"></link>

</head>
<body>
<div class="background">
<header><div class="logo"><img th:src="@{/img/index_logo.png}"></img></div></header>
<section>
<div class="main">
    <div class="login-box">
    <form action="index.html" th:action="@{/user/login}" method="post">
        <h1>中医食疗</h1>
        <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
        <div>
            <label for="uname" class=" fa fa-user la-uname"></label>
            <input type="text" name="uname" id="uname" placeholder="请输入登录账号"></input>
            <div class="check-uname"></div>
        </div>

        <div>
            <label for="upwd" class=" fa fa-lock la-upwd"></label>
            <input type="password" name="upwd" id="upwd" placeholder="请输入登录密码"></input>
            <div class="check-upwd"></div>
        </div>

        <!--<label for="remember" ><input type="checkbox" id="remember">记住密码</input></label>-->
        <a  href="#" class="forget">忘记密码</a>
        <a th:href="@{/register}" class="reg">注册账号</a>
        <div><button>登录</button></div>
    </form>
    </div>
</div>
</section>
<!--底部-->
<footer>
    <div>
        <p><a href="#">关于我们</a><span>|</span><a href="#">联系我们</a><span>|</span><a href="#">友情链接</a></p>
        <p>Copyright&copy;2018-2020 www.zysl.com <span>版权所有 中医食疗网站</span></p>
    </div>
</footer>
</div>
</body>
</html>