<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>体质养生方案</title>
    <link rel="stylesheet" href="css/phy_base.css">
	  <script src="lib/jquery/jquery-3.3.1.min.js"></script>
    <style>
        section {height: 920px;}

        section>div:not(:first-child) {display: none;}

        .clear img { height: 30px; width: 30px;}

        .first { text-align: left; line-height: 40px; margin-left: 15px}

        .btn { display: block; width: 150px; height: 50px; margin: 30px auto; color: #fff; background-color: #6B3906; border: none; font-size: 20px; outline: none; font-family: "宋体"; border-radius: 5px}
    </style>
</head>

<body>
    <!--头部-->
    <iframe src="header.html" frameborder="0" width="100%" scrolling="no"></iframe>
    <div id="main">
        <ul class="breadcrumb">
            <li>当前位置：</li>
            <li>
                <a href="#">首页</a>
            </li>
            <li>
                <a href="#">中医</a>
            </li>
            <li>
                <a href="#">体质养生方案</a>
            </li>
        </ul>

        <ul class="tab">
            <li>
                <a href="javascript:;">平和质</a>
            </li>
            <li>
                <a href="javascript:;">气虚质</a>
            </li>
            <li>
                <a href="javascript:;">阳虚质</a>
            </li>
            <li>
                <a href="javascript:;">阴虚质</a>
            </li>
            <li>
                <a href="javascript:;">湿热质</a>
            </li>
            <li>
                <a href="javascript:;">痰湿质</a>
            </li>
            <li>
                <a href="javascript:;">气郁质</a>
            </li>
            <li>
                <a href="javascript:;">血瘀质</a>
            </li>
            <li>
                <a href="javascript:;">特禀质</a>
            </li>
        </ul>

        <section>
            <div class="clear">
                <img src="img/xtubiao/leaf.png">
                <span>阳虚质养生方案</span>
                <p class="first">
                    表现：背部怕冷，腹部怕冷，手冷过肘，脚冷过膝，脸色发白。【背部膀胱抵御外邪入侵，丹田（脐
                    <br> 下三寸）】生机不够就是头发不茂密，喝完水后半小时就想上厕所，爱拉肚子，舌体胖大，太
                    <br> 娇嫩，脉象沉细，性格好静，容易悲观、消沉。
                </p>
                <p class="first">
                    形成原因：①遗传；②父母结婚晚晚育；③母亲孕期吃太多寒凉的东西；④吃冰冻东西；⑤喝凉茶损
                    <br> 阳气；⑥过度性生活；⑦寒湿环境。
                </p>
                <p class="first">
                    阳虚的人容易得什么病；
                    <br> （1）容易发胖；脱发；睡眠不好；座疮；慢性结肠炎；手臂酸痛；情绪低落；
                    <br> （2）肩胛骨酸痛，夜间更痛，遇寒痛加剧伴有后头疼；骨质疏松；
                    <br> （3）痹症（腰部酸痛、酸麻或痛连骶、股；关节疼痛；容易水肿；痛经、月经推后；性欲低下，
                    <br> &nbsp;&nbsp;性冷淡；上热下寒，【上热是假象，下寒是真象】；容易有色斑。
                </p>
                <p class="first">
                    美容四大问：问月经、问大便、问睡眠、问情绪。
                </p>
                <p class="first">
                    四个基本调功：调月经、调大便、调睡眠、调情绪。
                </p>
                <p class="first">养生方法：不要盲目进补不要伤着它就行了，防止容易得的疾病。</p>
                <p class="first">气血的特点：（1）遇寒则凝，得温则行，所以要温补阳气，温化水湿，畅通气血；
                    <br> （2）不要多吃生冷的、冰冻的、粘腻的饮食。
                </p>
                <p class="first">忌：阳虚、气虚、痰湿的人不能多吃水果，不利美容反而增肥。 阳虚的人少喝绿茶，因为绿茶偏寒，
                    <br> 少吃苦瓜。 阳虚的人少喝西瓜汁、苦瓜汁。
                </p>
                <button class="btn"><a href="javascript:;">查看推荐食谱</a></button>     
        </div>
		
		<div class="clear">
                <img src="img/xtubiao/leaf.png">
                <span>阴虚质养生方案</span>
                <p class="first">
                    表现：背部怕冷，腹部怕冷，手冷过肘，脚冷过膝，脸色发白。【背部膀胱抵御外邪入侵，丹田（脐
                    <br> 下三寸）】生机不够就是头发不茂密，喝完水后半小时就想上厕所，爱拉肚子，舌体胖大，太
                    <br> 娇嫩，脉象沉细，性格好静，容易悲观、消沉。
                </p>
                <p class="first">
                    形成原因：①遗传；②父母结婚晚晚育；③母亲孕期吃太多寒凉的东西；④吃冰冻东西；⑤喝凉茶损
                    <br> 阳气；⑥过度性生活；⑦寒湿环境。
                </p>
                <p class="first">
                    阳虚的人容易得什么病；
                    <br> （1）容易发胖；脱发；睡眠不好；座疮；慢性结肠炎；手臂酸痛；情绪低落；
                    <br> （2）肩胛骨酸痛，夜间更痛，遇寒痛加剧伴有后头疼；骨质疏松；
                    <br> （3）痹症（腰部酸痛、酸麻或痛连骶、股；关节疼痛；容易水肿；痛经、月经推后；性欲低下，
                    <br> &nbsp;&nbsp;性冷淡；上热下寒，【上热是假象，下寒是真象】；容易有色斑。
                </p>
                <p class="first">
                    美容四大问：问月经、问大便、问睡眠、问情绪。
                </p>
                <p class="first">
                    四个基本调功：调月经、调大便、调睡眠、调情绪。
                </p>
                <p class="first">养生方法：不要盲目进补不要伤着它就行了，防止容易得的疾病。</p>
                <p class="first">气血的特点：（1）遇寒则凝，得温则行，所以要温补阳气，温化水湿，畅通气血；
                    <br> （2）不要多吃生冷的、冰冻的、粘腻的饮食。
                </p>
                <p class="first">忌：阳虚、气虚、痰湿的人不能多吃水果，不利美容反而增肥。 阳虚的人少喝绿茶，因为绿茶偏寒，
                    <br> 少吃苦瓜。 阳虚的人少喝西瓜汁、苦瓜汁。
                </p>
                <button class="btn"><a href="javascript:;">查看推荐食谱</a></button>     
        </div>
</div>
		</section>

<script>
$(".tab li").click(function(){
    var index=$(this).index();
    $(this).parent().next().find("div").eq(index).show().siblings().hide()
})
</script>



        <!--底部-->
        <iframe src="footer.html" frameborder="0" width="100%" scrolling="no" height="100px;"> </iframe>
</body>

</html>