<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/reg.css">

</head>
<body>
<header><div class="logo"><img src="../static/img/index_log.png"></div></header>
<section>
    <div class="main">
        <div class="login-box">
            <form>
                <h1>中医膳食</h1>
                <!--用户名-->
                <div>
                    <label for="uname" class=" fa fa-user"></label>
                    <input type="text" name="username" id="uname" placeholder="请输入账号">
                    <div class=" check-uname fa-check fa-check-square">10个字符以内的字母、数字或下划线的组合</div>
                </div>
                <!--密码-->
                <div>
                    <label for="upwd" class=" fa fa-lock"></label>
                    <input type="password" name="userpwd" id="upwd" placeholder="设置密码">
                    <div class="check-upwd">密码不得低于6位</div>
                </div>
                <!--确认密码-->
                <div>
                    <label for="rupwd" class=" fa fa-lock"></label>
                    <input type="password" name="ruserpwd" id="rupwd" placeholder="确认密码">
                    <div class=""></div>
                </div>

                <!--手机号-->
                <div>
                    <label for="phone" class=" fa fa-mobile"></label>
                    <input type="tel" name="phone" id="phone" placeholder="请输入手机号">
                </div>
                <!--验证码-->
                <div>
                    <label for="code" class=" fa fa-code-fork"></label>
                    <input type="text" name="code" id="code" placeholder="请输入验证码">
                    <a href="#" class="get-code">获取验证码</a>
                </div>


                <div><button>注册</button></div>
            </form>
        </div>
    </div>
</section>
<!--底部-->
<footer>
    <div>
        <p ><a href="#">关于我们</a><span>|</span><a href="#">联系我们</a><span>|</span><a href="#">友情链接</a></p>
        <p>Copyright&copy;2018-2020 www.zysl.com </p>
        <p>版权所有 中医食疗网站</p>
    </div>
</footer>
</body>
</html>